format = """
$directory\
$git_branch\
$git_status\
$fill\
$kotlin\
$lua\
$python\
$ruby\
$rust\
$swift\
$aws\
docker_context\
$jobs\
$cmd_duration\
$line_break\
$character"""

add_newline = true

[palettes.foo]
overlay = '#26233a'

[aws]
symbol = ' '
style = 'yellow'
format = '[$symbol($profile )(\[$duration\] )]($style)'

[cmd_duration]
min_time = 500
style = 'fg:gray'
format = '[$duration]($style)'

[directory]
style = 'bg:black bold fg:blue'
format = '[](fg:black)[ $path ]($style)[](fg:black)'
truncation_length = 3
truncation_symbol = '…/'
truncate_to_repo = false

[directory.substitutions]
'Documents' = '󰈙'
'Downloads' = ' '
'Music' = ' '
'Pictures' = ' '

[docker_context]
style = 'fg:blue'
symbol = '󰡨 '
format = '[$symbol]($style) $path'
detect_files = ['docker-compose.yml', 'docker-compose.yaml', 'Dockerfile']
detect_extensions = ['Dockerfile']

[git_branch]
style = 'fg:green bold bg:black'
symbol = ' '
format = '[ ](fg:black)[$symbol$branch ]($style)'

[git_status]
style = 'fg:green bold bg:black'
format = '([$all_status$ahead_behind]($style))[ ](fg:black)'

[fill]
symbol = ' '

[jobs]
symbol = ' '
style = 'blue'
number_threshold = 1
format = '[$symbol]($style)'

[kotlin]
style = 'fg:purple'
symbol = ' '

[lua]
symbol = ' '

[python]
style = 'teal'
symbol = ' '
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
pyenv_version_name = true
pyenv_prefix = ''

[ruby]
style = 'red'
symbol = ' '
format = '[${symbol}(${version} )]($style)'

[rust]
style = 'orange'
symbol = ' '

[swift]
style = 'red'
symbol = ' '
format = '[${symbol}(${version} )]($style)'

[line_break]
disabled = false

